/node_modules
/prisma/generated
/.next
/out
.env
.env.local
.env.*.local
.env.development.local
.env.production.local
.env.test.local
.env.vercel
*.db
*.db-journal
/prisma/migrations/**/migration_lock.toml
.DS_Store
/scripts/vir-silence-full.txt
